<section id="all-links">
  this is: <%= @user.user_name%>
  <% if @user.id == current_user.id %>
    <%= button_to "Logout", '/logout', method: :post %>
  <% elsif current_user.followees.include?(@user) %>
    <h5><%= button_to "Unfollow", unfollow_user_path, class:'btn btn-info', method: "POST" %></h5>
  <% else %>
    <h5><%= button_to "Follow", follow_user_path,class:'btn btn-info', method: "POST"  %></h5>
  <% end%>
  <br>
  <div>
    <p class="card-text"><%= link_to (pluralize(@user.followers.count, "follower")), followers_list_path %></p>
    <%= render partial: "followers_show", collection: @user_followers %>
    
    <p class="card-text"><%= link_to (pluralize(@user.followees.count, "followee")), followees_list_path %></p>
    <%= render partial: "followees_show", collection: @user_followees %>
    
</div>
</section>