<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'Twitter Clone', root_path, class: "navbar-brand" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
         
        <% if user_signed_in? %>     
          <li class="nav-item">
            <%= link_to "edit profile", edit_user_registration_path, class: "nav-link"%>       
          </li>
          <li class="nav-item">
            <%= link_to "sign out", destroy_user_session_path, method: :delete, class: "nav-link"%>       
          </li>
          <li class="nav-item">
            <div class="btn btn-info">
              <%= link_to "Tweet", new_tweet_path, class: "nav-link "%>       
            </div>
          </li>
          <li class="nav-item">
            <div>
              Profile: <%= link_to current_user.user_name, show_user_path(current_user), class:"nav-link" %>      
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "sign up", new_user_registration_path, class: "nav-link"%>       
          </li>
          <li class="nav-item">
            <%= link_to "sign in", new_user_session_path, class: "nav-link"%>       
          </li>
        <% end %>
        
      </ul>
    </div>
  </div>
</nav>